#start-btn
{
    width: 10%;
} 
#camera,#result
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    margin-bottom: 10px;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
    